article.button{
  display:inline-block;
  width:560px;
  position:relative;
  margin: 0 auto;
  margin-left: 20%;
  padding:	5px;
  box-sizing:border-box;
  text-align:center;
	vertical-align:text-top;
}

button:focus{
	outline: 0
}
.ico_arrow{
  width:80px;
  height:80px;
  position:relative;
  text-indent:-9999px;
	background: 0;
	border: 0;
	padding: 0;
	cursor: pointer

}

.ico_arrow1{
  width:80px;
  height:80px;
  position:relative;
  text-indent:-9999px;
	background: 0;
	border: 0;
	padding: 0;
	cursor: pointer
}

.ico_arrow:before{
  content:'';
  width:30px;
  height:30px;
  position:absolute;
  left:50%;
  top:50%;
  border-left:2px solid #000;
  border-top:2px solid #000;
  transform:translate(-50%,-50%) rotate(135deg);
}
.ico_arrow1:before{
  content:'';
  width:30px;
  height:30px;
  position:absolute;
  left:45%;
  top:50%;
  border-left:2px solid #000;
  border-top:2px solid #000;
  transform:translate(-50%,-50%) rotate(-45deg);
}
.ico_arrow:after{
  content:'';
  width:42px;
  height:2px;
  position:absolute;
  right:20px;
  top:50%;
  transform:translateY(-50%);
  background:#000
}
.ico_arrow1:after{
  content:'';
  width:42px;
  height:2px;
  position:absolute;
  right:20px;
  top:50%;
  transform:translateY(-50%);
  background:#000
}


